.shake-modal {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
}

h2 {
  margin: 0;
  font-size: 1.5em;
}
.button-calss {
  background-color: #3b82f6; /* Primary color */
  color: white;
}