h1,h2 , p {
    margin: 0;
}

h3,h2 {
    font-size: 1.7em;
}

mat-icon {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-class {
    background-color: blue;
    color: white;
}